#hbox{
    -fx-border-color: black;
    -fx-border-width: 0.3;
    -fx-border-radius: 5;
}
#hbox1{
    -fx-border-color: black;
    -fx-border-width: 0.3;
    -fx-border-radius: 5;
}
#hbox2{
    -fx-border-color: black;
    -fx-border-width: 0.3;
    -fx-border-radius: 5;
}